{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "TABLES_ENDPOINT": "http://127.0.0.1:10002/devstoreaccount1",
    "BLOB_ENDPOINT": "http://127.0.0.1:10000/devstoreaccount1",
    "FIREBASE_PROJECT_ID": "your-firebase-project-id",
    "AUTH_MODE": "insecure-local"
  }
}
